<div class="comments">
  <% comments.each do |comment| %>
    <div class="d-flex justify-content-between align-items-center">
      <p><%= comment.author.name %> : <%= comment.text %></p>
    </div>
  <% end %>
</div>